/***GENERAL STYLES***/
.anythingSlider{
	margin:0px;
	padding:0px;
}

.anythingSlider .anythingWindow{
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
}

.anythingSlider .anythingBase{
	margin:0px;
	padding:0px;
	list-style:none;
	position:absolute;
	left:0px;
	top:0px;
	overflow:visible !important;
}

.anythingSlider .panel{
	float:left;
	margin:0px;
	padding:0px;
	overflow:hidden;
}

/***SLIDER***/
.anythingSlider-default{
	position:relative;
}

.anythingSlider-default .anythingWindow{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
}

.anythingSlider-default .panel a{
	display:block;
	margin:0px;
	padding:0px;
	text-decoration:none;
}

/***SLIDER NAVIGATION LINKS***/
.anythingSlider-default .anythingControls{ 
	position:absolute;
	left:22px;
	bottom:10px;
}

.anythingSlider-default .anythingControls ul{ 
	float:left;
	margin:0px;
	padding:0px;
	list-style:none;
}

.anythingSlider-default .anythingControls ul li{ 
	float:left;
	margin:0px 2px 0px 0px;
	padding:0px;
}

.anythingSlider-default .anythingControls ul li:last-child{
	margin:0px;
}

.anythingSlider-default .anythingControls ul li a{
	width:14px;
	height:13px;
	display:block;
	margin:0px;
	padding:0px;
	border:2px solid #868aa0;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	-khtml-border-radius:9px;
	border-radius:9px;
	background:#868aa0;
}

.anythingSlider-default .anythingControls ul li a.cur{
	background:#fde037;
}

.anythingSlider-default .anythingControls ul li a span{
	display:none;
	visibility:hidden;
}

/***SLIDER NEXT_BACK LINKS***/
.anythingSlider-default .arrow.forward,
.anythingSlider-default .arrow.back{ 
	width:40px;
    height:42px;
	position:absolute;    
    top:50%;
	margin:-21px 0px 0px 0px;
	padding:0px;
}

.anythingSlider-default .arrow.forward{
	right:-8px;
}

.anythingSlider-default .arrow.back{
	left:-8px;
}

.anythingSlider-default .arrow.forward a,
.anythingSlider-default .arrow.back a{
	width:40px;
    height:42px;
	display:table-cell;
	vertical-align:middle;
	margin:0px;
	padding:0px;
	text-align:center;
	text-decoration:none;
	background:#8184a1;
}

.anythingSlider-default .arrow.forward a{
	-moz-border-radius:4px 0px 0px 4px;
	-webkit-border-radius:4px 0px 0px 4px;
	-khtml-border-radius:4px 0px 0px 4px;
	border-radius:4px 0px 0px 4px;
}

.anythingSlider-default .arrow.back a{
	-moz-border-radius:0px 4px 4px 0px;
	-webkit-border-radius:0px 4px 4px 0px;
	-khtml-border-radius:0px 4px 4px 0px;
	border-radius:0px 4px 4px 0px;
}

.anythingSlider-default .arrow.forward a:hover,
.anythingSlider-default .arrow.back a:hover{
	background:#fde037;
}

.anythingSlider-default .arrow.forward a:before,
.anythingSlider-default .arrow.forward a:after,
.anythingSlider-default .arrow.back a:before,
.anythingSlider-default .arrow.back a:after{
	width:0px;
	height:0px;
	content:"";
	position:absolute;
}

.anythingSlider-default .arrow.forward a:before,
.anythingSlider-default .arrow.forward a:after{
	right:0px;
	border-right:8px solid transparent;
}

.anythingSlider-default .arrow.back a:before,
.anythingSlider-default .arrow.back a:after{
	left:0px;
	border-left:8px solid transparent;
}

.anythingSlider-default .arrow.forward a:before,
.anythingSlider-default .arrow.back a:before{
	top:-4px;
	border-bottom:4px solid #575b71;
}

.anythingSlider-default .arrow.forward a:after,
.anythingSlider-default .arrow.back a:after{
	bottom:-4px;
	border-top:4px solid #575b71;
}

.anythingSlider-default .arrow.forward a:hover:before,
.anythingSlider-default .arrow.back a:hover:before{
	border-bottom:4px solid #bea201;
}

.anythingSlider-default .arrow.forward a:hover:after,
.anythingSlider-default .arrow.back a:hover:after{
	border-top:4px solid #bea201;
}

.anythingSlider-default .arrow.forward a i,
.anythingSlider-default .arrow.back a i{
	font-size:26px;
	color:#fff;
}

/***DISCOUNT NAVIGATION LINKS***/
.anythingSlider-discount-left .anythingControls{
	position:absolute;
	bottom:16px;
	left:50%;
	-moz-transform:translate(-50%, 0);
	-webkit-transform:translate(-50%, 0);
	-o-transform:translate(-50%, 0);
	-ms-transform:translate(-50%, 0);
	transform:translate(-50%, 0);
}

.anythingSlider-discount-left .anythingControls ul{ 
	float:left;
	margin:0px;
	padding:0px;
	list-style:none;
}

.anythingSlider-discount-left .anythingControls ul li{ 
	float:left;
	margin:0px 4px 0px 0px;
	padding:0px;
}

.anythingSlider-discount-left .anythingControls ul li:last-child{
	margin:0px;
}

.anythingSlider-discount-left .anythingControls ul li a{
	width:10px;
	height:10px;
	display:block;
	margin:0px;
	padding:0px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
	background:#dee0ee;
}

.anythingSlider-discount-left .anythingControls ul li a.cur{
	background:#fde037;
}

.anythingSlider-discount-left .anythingControls ul li a span{
	display:none;
	visibility:hidden;
}

/***DISCOUNT NEXT_BACK LINKS***/
.anythingSlider-discount-left .arrow.forward,
.anythingSlider-discount-left .arrow.back{
	display:none;
	visibility:hidden;
}